
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="about.component.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" />


</head>
<body class="bs-dark">
    <section class="section about-section bs-dark" id="about">
        <div class="container">
            <div class="row align-items-center justify-content-around flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h3 class="light-color">{{persona.nombre}} {{persona.apellido}}</h3>
                        <h4 class="theme-color">Full Stack Developer Junior</h4>
                        <p>👋 Hi, I’m Andrés Eloy López Mejías, I’m currently learning a Computer Science Degree at UNAHUR, I am from Venezuela but I currently live in Buenos Aires, Argentina.</p>
                        <p>A person to whom computers fascinate more than human, a person great interest in Astronomy and Graphic Design. I have always been interested in computers since I was a child, until I spent all day sitting in front of a monitor.</p>
                        <div class="btn-bar">
                          <button type="button" class="btn btn-primary btn-lg">Download CV</button>
      
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-center" id="imagen-portfolio">
                    <div>
                        <img src="./../../../assets/me.jpeg" id="about-img">
                    </div>
                </div>
            </div>
        </div>
      </section>

    


        <!-- Bootstrap JS -->

        <script src="https://kit.fontawesome.com/4da9e3a461.js" crossorigin="anonymous"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
    
    <body>
    <head>  
    <html>