<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="header.component.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" />


</head>
<body class="">
 <nav class="bs-dark" id="navbar-pad">
  <div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="./../../../assets/argentina-programa.png" alt="" height="50px">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="icons">
      <li><a href="https://www.linkedin.com/in/andreslopezzz/" target="_blank"class="nav-link px-2 link-secondary"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="" height="32" id="icon"></a></li>
      <li><a href="https://github.com/dev-eloy" target="_blank" class="nav-link px-2 link-dark"><img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt="" height="32" id="icon"></a></li>
      <li><a href="mailto:andreselm.dev@gmail.com" target="_blank" class="nav-link px-2 link-dark"><img src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png" height="32" alt="" id="icon"></a></li>
      <li><a href="https://wa.me/+541166393255?text=Hola%F0%9F%91%8B.%20Me%20gustaria%20trabajar%20con%20vos." target="_blank" class="nav-link px-2 link-dark"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384007.png" height="32" alt="" id="icon"></a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2" (click)="login()" *ngIf="!isLogged">Login</button>
      <button type="button" class="btn btn-outline-primary me-2" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>
    </div>
  </header>
<nav>

    <!-- Bootstrap JS -->

    <script src="https://kit.fontawesome.com/4da9e3a461.js" crossorigin="anonymous"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>

<body>
<head>  
<html>

