<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="projects.component.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" />

</head>
<body>

    <div class="container">
    <div class="row justify-content-md-center" id="work">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
        <h1 class="mb-4" id="skills-title">Projects 🧙🏻</h1>
        <p class="text-secondary" id="text-title">I have worked in many companies and have carried out many projects, both professional and personal, and these were the most outstanding.</p>

      </div>
    </div>
  </div>


  <div class="container" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch">
      <div class="col"  id="card-pad">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./../../../assets/laptop.jpg');" id="card-pro">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 lh-1 fw-bold">Portfolio - Argentina Programa</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="./../../../assets/github-mark-white.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>JavaScript, Java, Angular & MySQL</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col" id="card-pad">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./../../../assets/discord.jpg');" id="card-pro">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 lh-1 fw-bold">Discord Bot</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="./../../../assets/github-mark-white.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Python</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col" id="card-pad">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./../../../assets/pokemon.jpg');" id="card-pro">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 lh-1 fw-bold">Pokemon Game</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="./../../../assets/github-mark-white.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>JavaScript</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  


     <!-- Bootstrap JS -->

     <script src="https://kit.fontawesome.com/4da9e3a461.js" crossorigin="anonymous"></script>
     <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
     <script src="/node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
 
 <body>
 <head>  
 <html>