<section class="resume-section p-3 p-lg-5" id="skills"></section>
<div class="container">
  <div class="row justify-content-md-center" id="work">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
      <h1 class="mb-4" id="skills-title">Education 🧠</h1>
      <p class="text-secondary" id="text-title">I have worked in many companies and have carried out many projects, both
        professional and personal, and these were the most outstanding.</p>

    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center" id="work">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
      <button type="button" class="btn btn-primary" routerLink="/new-edu" *ngIf="isLogged">Add Education</button>

    </div>
  </div>
</div>


<div class="container overflow-hidden" >
  <div class="row justify-content-xl-center gy-3 gy-sm-4" id="cards">
    <div class="col-12 col-sm-6 col-xl-5" id="card-1"  *ngFor="let Education of educacion">
      <div class="rounded shadow-sm p-3 p-md-4 p-xxl-8" id="card" >
        <h3 class="fw-bold mb-2 text-light" id="text-title-work" >
          {{Education.nombreE}}<button type="button" class="btn btn-outline-primary btn-sm"
            routerLink="/edit-edu/{{Education.id}}" *ngIf="isLogged"> <i class="bi bi-pen-fill"></i> </button>
          <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="isLogged" (click)="delete(Education.id)" id="delete">
            <i class="bi bi-trash-fill"></i> </button>

        </h3>
        <p class="text-secondary mb-3">{{Education.descripcionE}}</p>
      </div>
    </div>

  </div>
</div>