<section class="resume-section p-3 p-lg-5" id="skills">
    <div class="container">
        <div class="row justify-content-md-center" id="work">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
            <h1 class="mb-" id="skills-title">Technologies and Skills 🧠</h1>    
          </div>
        </div>
      </div>
  <div class="my-auto">
    <ul class="list-inline list-icons mb-4">
      <li class="list-inline-item">
        <i class="devicon-html5-plain" title="HTML5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-css3-plain" title="CSS3"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-javascript-plain" title="JavaScript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-typescript-plain" title="TypeScript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-java-plain" title="Java"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-python-plain" title="Python"></i>
      </li>

      <li class="list-inline-item">
        <i class="devicon-bootstrap-plain" title="Bootstrap 4"></i>
      </li>

      <li class="list-inline-item">
        <i class="devicon-angularjs-plain" title="AngularJS"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-github-plain" title="Github"></i>
      </li>

      <li class="list-inline-item">
        <i class="devicon-visualstudio-plain" title="VS Code"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-photoshop-plain" title="Adobe Photoshop"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-illustrator-plain" title="Adobe Illustrator"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-mysql-plain" title="MySQL"></i>
      </li>

    </ul>

<section>